<ion-header class="ion-no-border">

  <ion-toolbar color="tertiary">
    <ion-title>Modal Chat</ion-title>
    <ion-buttons slot="start">
      <ion-button>
        <img  src="../../assets/b2blogo.png"  style="width: 50px;height: 25px;"/>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-buttons slot="primary">
        <ion-button ion-button icon-only (click)="closeScheduleModal()">
          <ion-icon  slot="end" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

</ion-content>
