 <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title slot="start" class="main-header4" color="danger">TeamSpaces</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <img src="../../assets/b2blogo.png"  style="width: 50px;height: 25px;"/>
      </ion-button>
      <ion-button color="danger"
        [routerLink]="['/main/tabs/events/modal-events-detail']">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  

  </ion-toolbar>
</ion-header>

<ion-content class="background">
<ion-toolbar color="blank">
  <ion-grid fixed class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-searchbar color="danger" animated placeholder="Find group" search-icon="search-outline"  debounce="2" (ionChange)="buscar($event)" >
        </ion-searchbar>
      </ion-col>
    </ion-row>  
  </ion-grid>
</ion-toolbar>


<ion-list>
  <ion-item *ngFor="let group of this.groups | filtro: textBuscar" [routerLink]="['/main/tabs/events/modal-chat-events', group._id]">
  
    <ion-avatar slot="end">
      <ion-icon name="trash-bin-outline"size="small" color="danger" (click)="deleteGroup(group._id)"></ion-icon>
    </ion-avatar>
  
    <ion-label>

      <ion-badge color="light" class="ml-2">
        {{group.updatedAt | amLocale:'es' | amDateFormat:'LL'}}
      </ion-badge>

      <h2> <b><!--a [routerLink]="['/main/tabs/events/modal-chat-events', group._id]"-->{{group.nameChat}}<!--/a--></b></h2>
      
      <span class="badge badge-danger ml-2">
        Contacto: {{group.user.email}}
      </span>

      <p>acceder dando click</p>

    </ion-label>
  </ion-item>
</ion-list>
</ion-content>
 


<!--ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col class="ion-no-padding">
      <ion-card>
        <ion-card-title horizontal="center" slot="fixed">New Group</ion-card-title>
        <ion-card-content>
          <ion-input type="text" placeholder="Name Chat: Reunion " #nameChat></ion-input> 
          <ion-input type="text" placeholder="Introduce el Email" #email></ion-input>
          <ion-button color="dark" type="submit" expand="block" (click)="addGroup(nameChat,email)">Create Group  </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid-->



   

          <!-- Infinite Scroll 
          <ion-infinite-scroll
          threshold="150px"
          (ionInfinite)="nextEvents($event)">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
        </ion-infinite-scroll-->





