<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button>
        <img  src="../../assets/logow.JPG" style="width: 30px;height: 30px;"/>
      </ion-button>
    </ion-buttons>
    
    <ion-title class="main-header4">Schedule Event</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeScheduleModal()">
        <ion-icon slot="end" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <div *ngIf="eventId; else noDate">
  <ion-grid fixed class="ion-no-padding">

    <!--*********** Title  ***********-->
  
    <div class="travel_space1">
        <ion-item lines="none">
          
    <ion-label text-wrap>
                <h1 class="h1-center">{{eventTitle}}</h1>
                <ion-text color="medium">
                    <p class="p1"> {{eventDescp}}</p>
                    <p class="p1"> {{eventDate}}</p>
                </ion-text>
            </ion-label>
        </ion-item>
    </div>
  
  </ion-grid> 
  <img class="image-post" src={{eventUrlFile}}/>   
      <ion-grid>
      <ion-row>
      <ion-col class="timer" >
          <p>Faltan solo: {{demo}}!</p>
         </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  
    <ng-template #noDate>
      <p> </p>
         </ng-template>
    
  
<!--   <ion-card *ngFor="let sheduleEvent of eventSheduleDetails">
    <ion-card-header>
      <ion-card-title>{{sheduleEvent.eventName}}</ion-card-title>
      <ion-card-subtitle>{{sheduleEvent.eventDesc}} + {{sheduleEvent.eventDate}}</ion-card-subtitle>
    </ion-card-header>
        <ion-card-content>
         {{sheduleEvent.userLastName}}
         <ion-avatar slot="start" style="width: 72px;height: 72px;">
          <img src={{sheduleEvent.eventUrlPhoto}}>
        </ion-avatar>
        </ion-card-content>
  </ion-card>
 -->
 <ion-header [translucent]="true">
  <ion-toolbar>
    <div *ngIf="eventId; else noExits">
      <ion-buttons slot="secondary">
      </ion-buttons>
      <ion-title>My Schedules Events</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="postScheduleEvent(eventId)"  color="terciary">
          <ion-icon slot="end" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
      <ng-template #noExits>
        <p></p>
           </ng-template>
  </ion-toolbar>
</ion-header>

  <ion-list >
    <ion-item  *ngFor="let sheduleEvent of eventSheduleDetails">
      <ion-avatar slot="start" style="width: 72px;height: 72px;">
        <img [src]="sheduleEvent.eventUrlPhoto">
      </ion-avatar>
      <ion-label>
        <h2 style="font-weight: bold;">Event: {{sheduleEvent.eventName}}</h2>
        <h2 style="font-weight: bold;">Date:{{sheduleEvent.eventDate}}</h2>
        <p>{{sheduleEvent.eventDesc}}</p>
      </ion-label>
    </ion-item>
    </ion-list>

  
</ion-content>

  