
 <ion-header>

  <ion-toolbar color="blank">

    <ion-title class="main-header4" color="danger">Chats</ion-title>

    <ion-buttons slot="end">

      <ion-button>
        <img src="../../assets/b2blogo.png"  style="width: 50px;height: 25px;">
      </ion-button>

      <ion-button color="danger"
      [routerLink]="['/main/tabs/home/modal-chat-home']">
      <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar color="blank">
    <ion-grid fixed class="ion-no-padding">
      <ion-row>
        <ion-col>
          <ion-searchbar color="danger" placeholder="Find chat" (ionChange)="search($event)" search-icon="search-outline">
          </ion-searchbar>
        </ion-col>
      </ion-row>  
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>

  
    <ion-list>
    
      <ion-item *ngFor="let message of this.groups | filtro: textSearch" [routerLink]="['/main/tabs/home/modal-home-detail', message._id]">
        <!--ion-avatar slot="start">
          <ion-img [src]="chat.img"></ion-img>
        </ion-avatar-->
        <ion-avatar slot="end">
          <ion-icon name="trash-bin-outline"size="small" color="danger" (click)="deleteGroup(message._id)" ></ion-icon>
        </ion-avatar>
       
        <ion-label>
          <ion-badge color="light" class="ml-2">
            <p><strong>Chat Date: {{message.updatedAt | amLocale:'es' | amDateFormat:'LL'}}</strong></p>
         </ion-badge>

          <h2> <b><a [routerLink]="['/main/tabs/home/modal-home-detail', message._id]">{{message.nameChat}}</a></b></h2>

          <span class="badge badge-danger ml-2">
            Contacto:  {{message.email}}
          </span>


          <p>acceder dando click</p>
        </ion-label>
      </ion-item>
    
  </ion-list>
</ion-content>

    
