<ion-header class="ion-no-border">

  <ion-toolbar color="blank">
    <ion-buttons slot="start">
      <ion-button>
        <img  src="../../assets/b2blogo.png"  style="width: 50px;height: 25px;"/>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-buttons slot="primary">
        <ion-button ion-button icon-only (click)="closeScheduleModal()">
          <ion-icon  slot="end" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

  <ion-content padding>
   <ion-list lines="none">
    <ion-item lines="none"  *ngFor="let user of usersProfile">
      <ion-avatar slot="start" style="width: 72px;height: 72px;">
        <img [src]="user.userProfilePicture" (click)="goToSponsorProfile(user.userId)">
      </ion-avatar>
      <ion-label>
        <h2 style="font-weight: bold;">{{user.userName}} {{user.userLastName}}</h2>
        <p>{{user.userAbout}}</p>
      </ion-label>
      <ion-button  class="round"
      (click)="followUser(user.userId)" 
       (click)="changeShowFollow(user)"
       ion-button icon-end item-end >
        <div  *ngIf="!user.userFollow; else followed">
          <p>Add</p>
        </div>
        <ng-template #followed>
          <p>Added</p>
        </ng-template>
      </ion-button>
    </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-button (click)="closeScheduleModal()" color="secondary" expand="full">
      Close Modal
   </ion-button>
  </ion-footer>

