<ion-header class="ion-no-border">
  <ion-toolbar  color="tertiary">
    <ion-buttons slot="start">
      <ion-button>
        <img  src="../../assets/logow.JPG" style="width: 30px;height: 30px;"/>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="secondary">
    </ion-buttons>
    <ion-title class="main-header4">New Event</ion-title>
    <ion-buttons slot="primary">
      <ion-button  (click)="createEvent()" color="secondary">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
 

 

  <ion-list>
    
    <ion-item>
      <ion-label position="floating">Event Title</ion-label>
      <ion-textarea [(ngModel)]="event.titleEvent"></ion-textarea>

      <ion-label position="floating">Event Detail</ion-label>
      <ion-textarea [(ngModel)]="event.descripEvent"></ion-textarea>

      <ion-label position="floating">Event Date</ion-label>
      <ion-datetime
      [(ngModel)]="event.dateEvent"
      min="2019-01-01"
      max="2025-12-31">
    </ion-datetime>

    <ion-label position="floating">Event Location</ion-label>
    <ion-textarea [(ngModel)]="event.eventLocation"></ion-textarea>

    
    <ion-item>
      <ion-label position="floating">Event Category</ion-label>
      <ion-select [(ngModel)]="event.eventCategory" okText="Okay!">
        <ion-select-option value="music">Music</ion-select-option>
        <ion-select-option value="racing">Racing</ion-select-option>
        <ion-select-option value="concert">Concert</ion-select-option>
        <ion-select-option value="movie">Movie</ion-select-option>
      </ion-select>
    </ion-item>
      
    <ion-item>
      <ion-label position="floating">Event Type</ion-label>
      <ion-select [(ngModel)]="event.eventType" okText="Okay!">
        <ion-select-option value="public">Public</ion-select-option>
        <ion-select-option value="private">Private</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Event Sponsor</ion-label>
      <ion-select [(ngModel)]="event.sponsor"  multiple="true" okText="Okay!">
        <ion-select-option  *ngFor= "let l of sponsorAvailable" value ='{{ l.userBrand}}'>{{ l.userBrand}}</ion-select-option>
      </ion-select>
    </ion-item>
      <ion-label position="floating">Event Web Page</ion-label>
      <ion-textarea [(ngModel)]="event.urlWebPageEvent"></ion-textarea>
    </ion-item>

    <ion-item>
    <ion-label position="floating">Event Cover</ion-label>
    <img [src]="base64Image"/>
  </ion-item>

  </ion-list>
  
  <ion-row>
    <ion-col size="6">
      <ion-button expand="full"
                  shape="round"
                  (click)="openCamera()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Camera
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full"
                  shape="round"
                  (click)="openGallery()">
        <ion-icon slot="start" name="images"></ion-icon>
        Gallery
      </ion-button>
    </ion-col>
  </ion-row>
<!--   <ion-row>
    <ion-col size="3" *ngFor="let image of tempImages">
      <ion-card>
        <img [src]="image | imageSanitizer">
      </ion-card>
    </ion-col>
  </ion-row> -->

</ion-content>

<ion-footer>
  <ion-button (click)="closeScheduleModal()" color="secondary" expand="full">
    Close 
 </ion-button>
</ion-footer>


