<ion-header>
  <ion-toolbar>
    <ion-title  class="mt-3 col-lg-12 ml-5" *ngIf="group"> <h1> {{group.nameChat}} </h1></ion-title>
  
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs/events"></ion-back-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>
   

<ion-content> 
<ion-content> 
  <ion-row >
  <ion-col>
        <ion-item>
            <ion-label>      

            <ion-badge color="light" class="ml-2">
               <p><strong>Message Date: {{message.createdAt | amLocale:'es' | amDateFormat:'LL'}}</strong></p>
            </ion-badge>
            <br>

            <!--ion-badge color="light" class="ml-2">
              <p><strong>{{this.identity.name + ' ' + this.identity.lastname}}</strong></p>
           </ion-badge-->

           </ion-label>
        </ion-item>
      </ion-col>
</ion-row>


<ion-list class="justify-content-end" *ngFor="let message of this.group.messages">


          <small class="left" *ngIf="this.identity._id == message.user._id">
            {{message.createdAt| amLocale:'en' | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}</small>

          <ion-avatar class="mr-4 float-right rigth"  *ngIf="this.identity._id != message.user._id">
          <img src="{{url+'photoProfile/'+message.user.photoProfile}}"  class="avatar_nav"/> 
          </ion-avatar>

          <ion-badge color="success" class="col-6 comment-rigth" *ngIf="this.identity._id != message.user._id">
            <small class="col-6 msg comment-item">{{message.user.name}} {{message.user.lastname}}</small> 
            </ion-badge>

          <p class="col-6 comment-rigth" *ngIf="this.identity._id != message.user._id"><strong>{{message.messageContent}}</strong></p>


    <small class="rigth" *ngIf="this.identity._id != message.user._id">
    {{message.createdAt | amLocale:'en' | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}</small>
  
  <ion-avatar class="mr-4 float-left" *ngIf="message.user.photoProfile && this.identity._id == message.user._id ">
    <img src="{{url+'photoProfile/'+message.user.photoProfile}}"  class="avatar_nav"/> 
    </ion-avatar>
  
  <ion-badge color="primary" class="col-6 comment-left"  *ngIf="this.identity._id == message.user._id">
    <small class="col-6 msg comment-item">{{message.user.name}} {{message.user.lastname}} </small> 
    </ion-badge>
    
<p class="col-6 comment-left" *ngIf="this.identity._id == message.user._id"><strong>{{message.messageContent}}</strong></p>
<hr>

</ion-list>


<ion-footer padding>
<form  #HAddMessage="ngForm" (ngSubmit)="addMesssage(HAddMessage)" >
<ion-item>
<ion-textarea
name="messageContent" 
placeholder="   Escribir mensaje"
type="text"
#messages.messageContent="ngModel" 
[(ngModel)]="message.messageContent"
(keyup.enter)="addMesssage(HAddMessage)"
required></ion-textarea>
<ion-button type="submit" color="success" expand="block" class="padding"> Enviar</ion-button>
</ion-item>

</form>
</ion-footer>
</ion-content>
