p.comment-left{
    overflow: hidden;
    margin-left:400px;
}

ion-list.comment-left{
    overflow: hidden;
    margin-left:400px; 
}

ion-badge.comment-left {
    overflow: hidden;
    margin-left:400px;
}

ion-avatar.float-left{
    overflow: hidden;
    margin-left:400px;
}

small.left{
    overflow: hidden;
    margin-left:400px;   
}